# Node.js
node_modules/       # Ignore as dependências do Node.js

# Build output
dist/               # Diretório de build do Vite ou similar
build/              # Diretório de build (caso esteja usando algo como Create React App)

# Arquivos de log
npm-debug.log*      # Arquivos de log do NPM
yarn-debug.log*
yarn-error.log*

# Arquivos de dependência
package-lock.json   # Bloqueia versões das dependências
yarn.lock           # Arquivo de lock do Yarn

# Diretórios do sistema operacional
.DS_Store           # Arquivo do macOS que não é necessário
Thumbs.db           # Arquivo do Windows

# Arquivos específicos do editor de texto
.vscode/            # Configurações do VSCode
.idea/              # Diretório de configurações do IntelliJ/WebStorm

# Arquivos de configuração do ambiente
*.env               # Arquivos de ambiente
*.env.local         # Arquivo de ambiente local
*.env.development   # Arquivo de ambiente de desenvolvimento
*.env.test          # Arquivo de ambiente de testes
*.env.production    # Arquivo de ambiente de produção

# Arquivos de cobertura de teste
coverage/           # Relatórios de cobertura de teste

# Arquivos gerados por testes
*.test.js           # Arquivos de teste gerados pelo Jest
*.test.ts           # Arquivos de teste gerados pelo Jest
*.spec.js           # Arquivos de especificação de testes
*.spec.ts           # Arquivos de especificação de testes

# Pasta de cache do npm
npm-cache/          # Cache gerado pelo NPM

# Diretórios de ferramentas específicas (como o ESLint)
eslint/

# Arquivos de pacotes binários
*.tgz               # Arquivos de pacotes tarball do NPM
*.zip               # Arquivos zipados

# Outras configurações do sistema
.vscode/settings.json # Configurações de workspace do VSCode
.vscode/launch.json   # Arquivo de configurações de depuração do VSCode
